/* Write your code here. */
#root {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  background-size: cover;
  text-align: center;
  font-family: Roboto;
  padding: 30px;
}
.card-container {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
.profile-heading {
  color: #0f172a;
}
.profile-para {
  color: #1e293b;
}
